.classpath
.project
.settings
.idea
vncare.iml
pom.xml
README.md
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
src/main/resources/application.properties
/target/*
.settings/
.loadpath
.recommenders
/.idea
/.settings
/target
